<div class="container">
  <p>
   <%= flash[:notice] %>
  </p>
  <div class="text-center">
    <h1>シェアきゃん</h1>
    <p>ここでは様々なキャンプグッズの詳細、使用感等の共有を行えるサイトです。</p>
    <p>ユーザー登録をすればアイテムぼ追加やレビュー・コメント行う事ができます。</p>
    <p>ゲストログインも可能で制限はありますがサイトの閲覧ができます。</p>
  </div>
</div>
